.menu {
  display: flex;
  gap: 6px;
  margin-bottom: 24px;
}

.link {
  color: red;
}

.slots {
  margin-bottom: 24px;
  color: green;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}